/*
 * CSS Reset
 */
html{font-size:20px}/*  初始化字体  */
@media screen and (max-width: 640px) and (min-width: 540px){
	html{
		font-size: 18px;
	}
}
@media screen and (max-width: 540px) and (min-width: 480px){
	html{
		font-size: 16px;
	}
}
@media screen and (max-width: 480px) and (min-width: 375px){
	html{
		font-size: 14px;
	}
}
@media screen and (max-width: 375px) and (min-width: 320px){
	html{
		font-size: 12px;
	}
}

body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
body{background:#29bde0;color:#fff;font-family:"Hiragino Sans GB","Microsoft Yahei","黑体",sans serif;}

html,body{
	height: 100%;
}

ul,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;}

/*  css style  */
.container{
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	min-height: 100%;
}
.g-header,
.g-source--music{/*  fiexd postion of header & source  */
	position: fixed;
	z-index: 999;
	width: 100%;
	max-width: 640px;
	min-width: 320px;
}
.g-header{
	height: 3.4rem;
	background-color: #29bde0;
	/*padding: 0.6rem 1.15rem;*/
}
.g-header p {
	font-size: 1.7rem;
	line-height: 3.4rem;
	text-align: center;
	vertical-align: middle;
}
.g-header i,
.g-source--music i {/*  icon  header & music-play*/
	display: inline-block;
	width: 2rem;
	height: 2rem;
	margin-top: 0.7rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}
.g-header .icon-menu {
	float: left;
	margin-left: 23px;
	background-image: url("images/icon_menu.png");
}
.g-header .icon-close{
	float: right;
	margin-right: 23px;
	background-image: url("images/icon_close.png");
}
.g-source--music{
	top: 3.4rem;
	height: 4.1rem;
	background-color: #b9e9f5;
}
.g-source--music p{
	margin-left: 23px;
	font-size: 1.3rem;
	line-height: 4.1rem;
	color:#464646;
}
.g-source--music .icon-play {
	float: right;
	margin-top: 0.75rem;
	margin-right:23px;
	width: 2.6rem;
	height: 2.6rem;
	background-image: url("images/icon_play.png");
	cursor: pointer;
}
.g-source--music .u-triangle {
	position: absolute;
	top: 3.3rem;
	left: 2rem;
	width: 0;
	height: 0;
	border-width: 15px 10px 0;
	border-style: solid;
	border-color: #b9e9f5 transparent transparent;
}
.g-content{
	position: relative;
	top:7.5rem;
	width: 100%;
	padding-bottom: 7rem;/*  rest space for g-footer  */
}
.g-content p{
	padding-top: 1rem;
	padding-left: 2rem;
}
.g-content .m-players-wrap{/*  module of players  */
	width: 100%;
}
.g-content .m-players-wrap{
	font-size: 0;/*  clear inline-block bug  */
}
.g-content .m-players{
	margin-left: 1%;/*  add 1% width of .u-player's width  */
}
.g-content .m-players:after{
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	clear: both;
}
.g-content .m-players .u-player{
	position: relative;
	float: left;
	display: inline-block;
	width: 23%;
	/*padding-bottom: 21%;*/
	margin: 5%;
}
.g-content .m-players .u-player dl{
	border: 5px solid #fff;
	background-color: #f5c976;
	text-align: center;
}
.g-content .m-players .u-player dt{
	margin: 20% 0;
	font-size: 1.5rem;
	color: #565656;
}
.g-content .m-players .u-player dd{
	background-color: #83b09a;
	font-size: 1.2rem;
	line-height: 2.2rem;
	color: #fff;
}
.g-content .m-players .u-player--tools{
	position: absolute;
	margin-top: 10px;
	width: 100%;
	display: none;
	text-align: justify;
}
.g-content .m-players .u-player--tools li{
	display: inline-block;
	width: 22.2%;
	padding-bottom: 22%;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position:center;
}
.g-content .m-players .u-player--tools li.placeholder{
	padding-bottom: 0;
}
.g-content .m-players .u-player--tools li:nth-child(1){
	background-image: url("images/icon_suit_knife.png");
}
.g-content .m-players .u-player--tools li:nth-child(2){
	background-image: url("images/icon_suit_search.png");
}
.g-content .m-players .u-player--tools li:nth-child(3){
	background-image: url("images/icon_suit_target.png");
}
.g-content .m-players .u-player--tools li:nth-child(4){

	background-image: url("images/icon_suit_rescue.png");
}

.g-footer{
	position: fixed;
	bottom: 0;
	box-sizing: border-box;
	padding: 0 5%;
	width: 100%;
	max-width: 640px;
	background-color: #29bde0;
}
.g-footer--vote{
	display: table;
	border-top: 2px solid #fff;
	margin: 0 auto;
	width: 98%;
	height: 7rem;
}
.g-footer--vote .vote-btn{
	display: table-cell;
	vertical-align: middle;
	
}
.g-footer--vote .vote-btn p {
	margin: 0 auto;
	width: 75%;
	line-height: 4.4rem;
	background-color: #fbb435;
	font-size: 2rem;
	color: #fff;
	text-align: center;
}