/*
 * CSS Reset
 */
html{font-size:20px}/*  初始化字体  */
@media screen and (max-width: 640px) and (min-width: 540px){
	html{
		font-size: 18px;
	}
}
@media screen and (max-width: 540px) and (min-width: 480px){
	html{
		font-size: 16px;
	}
}
@media screen and (max-width: 480px) and (min-width: 375px){
	html{
		font-size: 14px;
	}
}
@media screen and (max-width: 375px) and (min-width: 320px){
	html{
		font-size: 12px;
	}
}

body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
body{background:#f0f0f0;color:#fff;font-family:"Hiragino Sans GB","Microsoft Yahei","黑体",sans serif;}

html,body{
	height: 100%;
}

ul,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;}


/*
 * css style
 */
.container,
.g-header{
	width: 100%;
	max-width: 640px;
}
.container{
	position: relative;
	min-width: 320px;
	min-height: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.main-wrap{/* wrapper of g-header & g-content  */
	position: relative;
	padding-top:64px;
	box-shadow:-5px 0 50px #ddd;
}
.main-wrap.slide{
	position: absolute;
	width: 100%;
}
.g-header{/* top navigation  */
	position: absolute;
	z-index: 999;
	height: 64px;
	background-color: #29bde0;
	top: 0px;
}
.g-header i {/*  icon-menu  */
	position: absolute;
	top: 17px;
	left: 23px;
	width: 34px;
	height: 27px;
	background-image: url("images/icon_menu.png");
}
.g-content-wrap{/*  content-outer  */
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding: 27px 36px;
	margin: 0 auto;
	background-color: #f0f0f0;
}
.g-content .m-title,
.g-content .m-main{
	width: 100%;
	border: 1px solid #c9c9c9;
	background-color: #fff;
}
.g-content .m-title{/*  title card */
	position: relative;
	width: 100%;
	margin-bottom: 1rem;
}
.g-content .m-title-inner{
	padding: 1rem 0;
}
.g-content .m-title-inner p{
	font-size: 1.84rem;
	color: #aaa;
	text-align: center;
}
.g-content .m-title .u-next{/*  nextpage  */
	position: absolute;
	top: 50%;
	right: 14px;
	margin-top: -1rem;
	width: 24px;
	height: 2rem;
	background-image: url("images/icon_next_1.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
}
.g-content .m-main{/*  main body  */
	position: relative;
	width: 100%;
}
.g-content .m-main--title{
	padding: 1.5rem 0;
	border-bottom: 1px solid #fbb435;
}
.g-content .m-main--title p{
	font-size: 1.9rem;
	color: #fbb435;
	text-align: center;
}
.g-content .m-main--item{
	padding: 1.6rem 2.7rem 0;
}
.g-content .m-main--item ul{
	position: relative;
}
.g-content .m-main--item li{
	width: 100%;
}
.g-content .m-main--item li dt{/*  card container  */
	display: table;
	width: 100%;
	height: 6rem;
	background-color: #6dd1e9;
}
.g-content .m-main--item li dt p{
	display: table-cell;
	font-size: 1.6rem;
	vertical-align: middle;
	text-align: center;
	color: #fff;
}
.g-content .m-main--item li dd{/*  player number  */
	margin: 14px 0 20px;
	font-size: 1.2rem;
	color: #787878;
	text-align: center;
}
.g-content .m-main--page{/*  bottom page slider  */
	position: relative;
	bottom: 10px;
	font-size: 0;
	text-align: center;
}
.g-content .m-main--page i{
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	margin: 0 5px;
	background-color: #f0f0f0;
}
.g-content .m-main--page i.current{
	background-color: #6dd1e9;
}
.g-content .m-main .u-next{/*  nextpage  */
	position: absolute;
	top: 50%;
	right: -40px;
	margin-top:-2.8rem;
	width: 28px;
	height: 2.8rem;
	background-image: url("images/icon_next_2.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.g-sidenav{/*  sidenav on the left of container with display:none;  */
	position: absolute;
	z-index: -1;
	top:0;
	/*left: -50%;*/
	width: 75%;
	min-height: 100%;
	background-color: #fff;
	/*display: none;*/
}
.g-sidenav .m-nav-list{
	width: 100%;
}
.g-sidenav .m-nav-list li{/*  every item  */
	position: relative;
	height: 79px;
	padding-left: 106px;
	padding-right: 50px;
	border-bottom: 1px solid #d6d6d6;
	font-size: 0; /*  clear inline-block bug  */
	color: #29bed0;
}
.g-sidenav .m-nav-list li span{/* text  */
	font-size: 1.5rem;
	line-height: 79px;
}
.g-sidenav .m-nav-list .u-nav-icon,
.g-sidenav .m-nav-list .u-nav-back{/* icon */
	position: absolute;
	display: inline-block;
	background-image: url("images/list_icon.png");
	background-repeat: no-repeat;
}
.g-sidenav .m-nav-list .u-nav-icon{
	top: 20px;
	left:36px;
	width: 40px;
	height: 40px;
}
.g-sidenav .m-nav-list .u-nav-icon--1{
	background-position: 0 0;
}
.g-sidenav .m-nav-list .u-nav-icon--2{
	background-position: 0 -56px;
}
.g-sidenav .m-nav-list .u-nav-icon--3{
	background-position: 0 -110px;
}
.g-sidenav .m-nav-list .u-nav-icon--4{
	background-position: 0 -165px;
}
.g-sidenav .m-nav-list .u-nav-back{
	top: 20px;
	right: 2.5rem;
	width: 24px;
	height: 40px;
	background-position: -60px 0;	
}



















